/* Common CSS */
* { box-sizing: border-box; }
body { font-family: 'Lato', sans-serif; }

body#generation {
    background: #efefbb;
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    color: #000;
    font-family: 'Lato', sans-serif;
}

body#generation .wrapper {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: unset;
}

.display-none { display: none; }

.round { 
    width: 100%;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: block;
    background: rgba(255, 255, 255, 0.6); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pokedex-number {
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: bold;
}

.pokemon-name {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.pokemon-info-class { 
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}

body#pokemon {
    width: 100%;
    min-height: 100vh;
}

#pokemon-container.wrapper {
    max-width: 760px;
    padding: 15px 0;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#pokemon-container.display-none { display: none; }

/* Login Page CSS Start */
.main-container {
    max-width: 672px;
    width: 35%;
    margin: 20px auto;
}

.main-container > form > * { margin-bottom: 30px; }
.main-container > form > *:last-child { margin-bottom: 0; }

.main-container h1 {
    color: rgba(34, 95, 171, 1);
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}

.main-container li { margin-bottom: 25px; }
.main-container li:last-child { margin-bottom: 0; }

.main-container li > * {
    width: 100%;
    margin-bottom: 15px;
    display: block;
    color: rgba(98, 154, 218, 1);
    font-size: 20px;
}

.main-container li > *:last-child { margin-bottom: 0; }

.main-container li > label { 
    font-weight: bold;
    text-transform: capitalize; 
}

.main-container li > input { 
    padding: 10px 20px;
    border: 2px solid rgba(98, 154, 218, 1);
    outline: none;
}

.main-container li > input::placeholder { color: rgba(98, 154, 218, 1); }
.main-container li > input:focus { border: 2px solid rgba(34, 95, 171, 1); }

.error-message > span {
    color: rgba(255, 0, 0, 1);
    font-size: 20px;
    font-weight: bold;
}

.error-message > span::before {
    content: "\f057";
    margin-right: 5px;
    color: rgba(255, 0, 0, 1);
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 900;
}

.error-message > span.valid { color: rgba(34, 95, 171, 1); }

.error-message > span.valid::before {
    content: "\f058";
    color: rgba(34, 95, 171, 1);
}

.error-message.display-none { display: none; }

.main-container button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    background: rgba(34, 95, 171, 1);
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 1s ease-in-out, color 1s ease-in-out;
}

.main-container button:hover { 
    background: rgba(98, 154, 218, 1);
    color: rgba(34, 95, 171, 1);
    cursor: pointer;
}
/* Login Page CSS End */

/* Generation Page CSS Start */
#generation > header > .wrapper {
    padding: 10px 10px 10px 0;
    display: flex;
    background: rgba(34, 95, 171, 0.3);
    flex-direction: column;
    align-items: flex-end;
}

.header-content > p {
    margin-bottom: 10px;
    display: block;
    color: rgba(34, 95, 171, 1);
    font-size: 18px;
    font-weight: bold;
}

.header-content li > a {
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    background: rgba(34, 95, 171, 1);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 1s ease-in-out, color 1s ease-in-out;
}

.header-content li > a:hover { 
    background: #fff;
    color: rgba(34, 95, 171, 1);
}

#pokedex-main-container { text-align: center; }
#pokedex-main-container > * { margin-bottom: 30px; }
#pokedex-main-container > *:last-child { margin-bottom: 0; }
nav { background: rgba(98, 154, 218, 1) }
nav > ul { display: flex; }
nav li { flex: 1; }

nav a {
    padding: 10px 0;
    display: block;
    color: rgba(34, 95, 171, 1);
    font-size: 20px;
    font-weight: bold;
    transition: background 1s ease-in-out, color 1s ease-in-out;
}

nav a:hover {
    background: rgba(34, 95, 171, 1);
    color: #fff;
}

nav li.selected > a {
    background: rgba(34, 95, 171, 1);
    color: #fff;
}

.carousel { 
    width: 100%; 
    position: relative;
}

.carousel.display-none { display: none; }

.carousel > ul {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.carousel > .control-button {
    display: inline-block;
    position: absolute;
    top: 50%;
    font-size: 0;
    transform: translate(0, -50%);
}

.carousel > .control-button::before {
    display: flex;
    color: rgba(98, 154, 218, 1);
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    transition: color 1s ease-in-out;
}

.carousel > .control-button:hover::before { 
    color: rgba(34, 95, 171, 1);
    cursor: pointer;
}

.carousel > .previous-button { left: 0; }

.carousel > .previous-button::before {
    content: "\f137";
    margin-right: 20px;
}

.carousel > .next-button { right: 0; }

.carousel > .next-button::before {
    content: "\f138";
    margin-left: 20px;
}

.carousel li {
    width: 100%;
    display: inline-block;
}

.carousel li > figure { width: 100%; }

.carousel figure > img {
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

.carousel-buttons {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
}

.carousel-buttons.display-none { display: none; }

.carousel-buttons > li { 
    height: 10px;
    margin-right: 10px;
    display: inline-block;
}

.carousel-buttons > li:last-child { margin-right: 0; }

.carousel-buttons > li > span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    background: rgba(0, 0, 0, 0.25);
    font-size: 0;
    transition: background 1s ease-in-out;
}

.carousel-buttons > li > span:hover { 
    background: rgba(34, 95, 171, 1);
    cursor: pointer;
}

.carousel-buttons > li > span.selected { background: rgba(34, 95, 171, 1); }

#pokedex-main-container > h1 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: capitalize;
}

#pokedex-main-container > .pokemons {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#pokedex-main-container > .pokemons.display-none { display: none; }

#pokedex-main-container > .pokemons > li {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    flex-basis: 160px;
    transition: background 1s ease-in-out;
}

.normal { background: #a8a77a; }
.fire { background: #EE8130; }
.water { background: #6390F0; }
.electric { background: #F7D02C; }
.grass { background: #7AC74C; }
.ice { background: #96D9D6; }
.fighting { background: #C22E28; }
.poison { background: #A33EA1; }
.ground { background: #E2BF65; }
.flying { background: #A98FF3; }
.psychic { background: #F95587; }
.bug { background: #A6B91A; }
.rock { background: #B6A136; }
.ghost { background: #735797; }
.dragon { background: #6F35FC; }
.dark { background: #705746; }
.steel { background: #B7B7CE; }
.fairy { background: #D685AD; }

#pokedex-main-container > .pokemons > li:hover {
    background: rgba(34, 95, 171, 1);
    cursor: pointer;
}
/* Generation Page CSS End */

/* Pokemon Page CSS Start */
#pokemon-container > * { margin-bottom: 20px; }
#pokemon-container > *:last-child { margin-bottom: 0; }

#pokemon-container > h1 {
    color: #000;
    font-size: 28px;
    font-weight: bold;
}

#pokemon-container img {
    max-width: 160px;
    width: 100%;
    max-height: 160px;
    height: 100%;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

#pokemon-container > p { font-size: 14px; }

#pokemon-container > .additional-info > span {
    margin-bottom: 10px;
    display: block;
    color: #000;
    font-size: 18px;
}

#pokemon-container > .additional-info small {
    display: inline;
    font-size: 14px;
    font-weight: bold;
}

#pokemon-container > .stats > h2 {
    margin-bottom: 15px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

#pokemon-container > .stats > ul {
    border: 2px solid #000;
    display: flex;
}

#pokemon-container > .stats li { 
    border-right: 2px solid #000;
    display: flex;
    flex-direction: column;
    flex: 1; 
}

#pokemon-container > .stats li:last-child { border-right: none; }

#pokemon-container > .stats span {
    padding: 5px 10px;
    display: flex;
    color: #000;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

#pokemon-container > .stats .stat-name { 
    font-weight: bold; 
    flex: 2;
}

#pokemon-container > .stats span:first-child { border-bottom: 2px solid #000; }
#pokemon-container > .stats .stat-value { flex: 1; }
/* Pokemon Page CSS End */

/* CSS for < 1080px Width */
@media only screen and (max-width: 1079px) {
    body#generation > .wrapper {
        width: 97%;
        margin: 0 1.5%;
    }
}

/* CSS for 768px to 1023px Width */
@media only screen and (max-width: 1023px) {
    .main-container {
        width: 40%;
        margin: 15px auto;
    }

    #pokemon-container.wrapper {
        width: 100%;
        padding: 15px 1%;
    }
}

/* CSS for Mobile Width */
@media only screen and (max-width: 767px) {
    .main-container {
        max-width: unset;
        width: 96%;
        margin: 10px 2%;
    }

    .main-container > form > * { margin-bottom: 20px; }
    .main-container h1 { font-size: 20px; }
    .main-container li { margin-bottom: 15px; }

    .main-container li > * {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .main-container li > input { 
        padding: 5px 10px;
        border: 2px solid rgba(98, 154, 218, 1);
    }

    .error-message > span { font-size: 14px; }
    .error-message > span::before { font-size: 14px; }

    .main-container button {
        padding: 5px 10px;
        font-size: 16px;
    }

    /* Generation Page CSS Start */
    .round { 
        height: 100px;
        margin-bottom: 10px;
    }

    .pokedex-number {
        padding: 5px 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
    .pokemon-name {
        margin-bottom: 10px;
        font-size: 16px;
    }
    
    body#generation > .wrapper {
        width: 98%;
        margin: 0 1%;
    }

    .header-content > p { font-size: 16px; }
    #pokedex-main-container { margin-bottom: 10px; }
    #pokedex-main-container > * { margin-bottom: 15px; }

    nav a {
        padding: 5px 0;
        font-size: 16px;
    }

    #pokedex-main-container > h1 {
        font-size: 20px;
        letter-spacing: 2px;
    }
    
    #pokedex-main-container > .pokemons {
        margin-bottom: 10px;
        gap: 5px;
        justify-content: center;
    }

    #pokedex-main-container > .pokemons > li {
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);
        flex-basis: 110px;
        transition: background 1s ease-in-out;
    }
    /* Generation Page CSS End */

    /* Pokemon Page CSS Start */
    #pokemon-container.wrapper { padding: 10px 1%; }
    #pokemon-container > * { margin-bottom: 15px; }
    #pokemon-container > h1 { font-size: 22px; }
    #pokemon-container > p { font-size: 14px; }
    #pokemon-container > .additional-info > span { font-size: 14px; }
    #pokemon-container > .additional-info small { font-size: 12px; }

    #pokemon-container > .stats > h2 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    #pokemon-container > .stats > ul {
        display: inline-flex;
        flex-direction: column;
    }
    
    #pokemon-container > .stats li { 
        border-right: none;
        border-bottom: 2px solid #000;
        flex: 0; 
    }

    #pokemon-container > .stats span { font-size: 14px; }
    #pokemon-container > .stats li:last-child { border-bottom: none; }
    #pokemon-container > .stats span:first-child { border-bottom: none; }
    /* Pokemon Page CSS End */
}